:root {
  --primary: #14bf98;
  --bg-navy: #113448;
  --bg-navy-light: #153e52;
  --bg-input: #2a5d77;
  --bg-light: #fbfbfb;
  --bg-progress: #f9fafc;
  --heading: #484a46;
  --text: #787976;
  --text-light: #c1cace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: var(--heading);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5625;
  margin-bottom: 16px;
}

input,
button {
  border: none;
  font-family: "Montserrat", sans-serif;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

button {
  cursor: pointer;
}

.btn {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  border: 0.125rem solid #14bf98;
  border-radius: 0.25rem;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary);
}

.px {
  padding: 0 15px;
}

.section-tag {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.38461538462;
  color: var(--primary);
  margin-bottom: 8px;
}

.section-title {
  color: var(--heading);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21428571429;
  margin-bottom: 22px;
}

.section-list li {
  display: flex;
  margin-bottom: 6px;
}
.section-list li i {
  color: var(--primary);
  font-size: 10px;
  line-height: 2.2;
}

.section-list li p {
  margin-left: 10px;
  margin-bottom: 0;
  display: inline-block;
}

.testimonial {
  font-style: italic;
}

.testimonial-author {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
  font-style: normal;
}

/* Header */

.page-header {
  width: 100%;
  padding: 6px 16px;
  background-color: var(--bg-navy);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Toggle menu btn */

.toggle-menu-btn {
  position: absolute;
  right: 16px;
  top: 15px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.toggle-menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.toggle-menu-btn.close {
  transform: rotate(180deg);
}

.toggle-menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.toggle-menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container img {
  width: 113px;
  height: 32px;
}

.nav-menu-list {
  margin: 12px 0;
  display: none;
  flex-direction: column;
}

.nav-menu-list li a {
  display: block;
  padding: 10px 12px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
}

.nav-menu-list li a:hover,
.nav-menu-list li a.current {
  color: var(--primary);
}

.nav-menu-list.show {
  display: flex;
}

/* Landing */
.landing {
  width: 100vw;
  height: 80vh;
  background-image: url("/images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.landing * {
  z-index: 1;
}

.landing-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.landing-title-rotate {
  height: 50px;
  position: relative;
}

.word {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.letter {
  display: inline-block;
  /* transform: translateZ(25px); */
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.landing-desc {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444444444;
  margin-bottom: 25px;
}

.btn-landing {
  padding: 15px 34px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

/* Intro */
.intro {
  overflow: hidden;
  width: 100vw;
}

.intro-main {
  padding-top: 104px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.text-container {
  margin-bottom: 48px;
}

.intro .img-container {
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.intro .img-container img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.intro-details {
  padding-top: 48px;
  padding-bottom: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.detail-icon {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
  position: relative;
}

.hexagon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/hexagon-green.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 96px 96px;
}

.detail-icon i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-body h3 {
  color: var(--heading);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 10px;
}

.detail-body p {
  text-align: center;
}

/* Services */

.services {
  background-color: var(--bg-light);
  width: 100%;
}

.services-main {
  padding: 106px 15px 20px;
}

.services-main .section-tag,
.services-main .section-title {
  text-align: center;
}

.services-main .section-title {
  margin-bottom: 52px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 90px;
}

.card img {
  display: block;
  width: 100%;
  max-width: 698px;
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-body {
  width: 100%;
  max-width: 698px;
  background-color: #fff;
  padding: 36px 32px 34px;
  border: 1px solid #ebe8e8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-body h3 {
  color: var(--heading);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.27272727273;
  text-align: center;
  margin-bottom: 12px;
}
.card-body-list {
  margin-bottom: 24px;
}

.card-body-list li {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5625;
  margin-bottom: 6px;
}
.card-body-list i {
  color: var(--primary);
}

.card-body-list .list-text {
  display: inline-block;
  margin-left: 10px;
}

.card-body strong {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: var(--heading);
}

.price {
  color: var(--primary);
}

.card-btn-container {
  margin-top: -22px;
  text-align: center;
}
.card-btn {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 12px 30px;
}

/* Services-detail */
.services-accordion {
  display: flex;
  flex-direction: column;
}

.area-1 {
  width: 100%;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.acco.area-1 {
  background-image: url("/images/details-1-background.jpg");
}

.tab.area-1 {
  background-image: url("/images/details-2-background.jpg");
}

.area-2 {
  max-width: 90%;
  margin: 0 auto;
}

.acco-list {
  padding: 102px 0 24px;
}

.acco-list h2 {
  color: var(--heading);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.21428571429;
  margin-bottom: 26px;
}

.acco-item {
  margin-bottom: 32px;
}

.acco-title {
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
}

.title-numbering {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid var(--heading);
  border-radius: 50%;
  margin-right: 14px;
  vertical-align: middle;
}

.acco-title:hover .title-numbering,
.acco-title:hover .title-text,
.acco-title.active .title-text {
  border-color: var(--primary);
  color: var(--primary);
}

.acco-title.active .title-numbering {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.title-text {
  color: var(--heading);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  width: 70%;
}

.acco-desc {
  display: none;
  opacity: 0;
  margin-bottom: 0;
  margin-left: 50px;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
}

.acco-desc.show {
  display: block;
  opacity: 1;
  height: 100%;
}

/* Services-tab */
.services-tab {
  display: flex;
  flex-direction: column-reverse;
}

.tab.area-2 {
  padding: 32px 0 92px;
}

.tab-title-container {
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-title {
  cursor: pointer;
  margin-right: 26px;
  margin-bottom: 14px;
  transition: all 0.2s ease;
}

.tab-title h3 {
  color: var(--text-light);
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.tab-title:hover h3,
.tab-title.active h3 {
  color: var(--primary);
}

.tab-title i {
  font-size: 14px;
  vertical-align: 21%;
  margin-right: 2px;
}

#tab-1,
#tab-2,
#tab-3 {
  display: none;
  animation: fadeIn 1s;
  transition: opacity 0.3s ease;
}

#tab-1.show,
#tab-3.show {
  display: block;
}

#tab-2.show {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* tab-1 */
.tab-content h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 8px;
}

.tab-content p a {
  text-decoration: underline;
  color: var(--primary);
}

.progress-container {
  margin-top: 24px;
}

.progress-container h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857142857;
  margin-bottom: 4px;
}

.progress {
  width: 100%;
  height: 22px;
  background-color: var(--bg-progress);
  border-radius: 2px;
  margin-bottom: 18px;
}

.progress-bar {
  height: 100%;
  background-color: var(--primary);
  border-radius: 2px;
}

.progress-bar.first {
  width: 100%;
}

.progress-bar.second {
  width: 76%;
}

.progress-bar.third {
  width: 90%;
}

/* tab-2 */
#tab-2 {
  flex-direction: column;
}

.content-list {
  margin-top: 28px;
}

.content-item {
  display: flex;
  margin-bottom: 32px;
}

.content-item:last-child {
  margin-bottom: 0;
}

.item-numbering {
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}

.item-text {
  margin-left: 14px;
  margin-bottom: 0;
}

.item-text strong {
  color: var(--heading);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5625;
}

/* tab-3 */
.quality-desc strong {
  font-weight: 700;
  color: var(--heading);
}

/* Testimonials */
.testimonials-container {
  padding: 102px 0 104px;
  margin: 0 15px;
}

.testimonials-container h2 {
  line-height: 1.4166666666;
  margin-bottom: 12px;
  text-align: center;
}

.testimonials-container p {
  text-align: center;
  margin-bottom: 56px;
}

/* Slider Container */
.slider-container {
  position: relative;
}

/* Slider Button */
.slider-btn {
  z-index: 3;
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  font-size: 30px;
  background-color: transparent;
  color: var(--text);
}

.slider-btn.prev {
  left: 5px;
}

.slider-btn.next {
  right: 5px;
}

/* Slider List */
.slider-list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

/* Slider Item */
.slider-item {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn 1s;
  transition: all 0.7s ease;
}

.slider-item:nth-child(1) {
  z-index: 1;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  display: none;
}

.slider-item:nth-child(2) {
  z-index: 2;
  left: 50%;
  opacity: 1;
  transform: translateX(0);
}

.slider-item:nth-child(3) {
  z-index: 1;
  left: 100%;
  opacity: 0;
  transform: translateX(100%);
  display: none;
}

.slider-item:nth-child(n + 4) {
  z-index: 1;
  left: 100%;
  opacity: 0;
  display: none;
}

.slider-item .img-container {
  width: 96px;
  height: 96px;
  margin-bottom: 20px;
}

.slider-item .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.slider-item .testimonial {
  font-size: 15px;
  margin-bottom: 10px;
}

.slider-item .testimonial-author {
  display: block;
  text-align: center;
}

/* Call Me */
.call-me {
  background-color: var(--bg-navy-light);
  padding: 106px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-me-container {
  margin: 0 15px;
}

/* Call Me Content */
.call-me-content {
  margin-bottom: 64px;
}

.call-me-content .section-title,
.call-me-content .section-desc,
.call-me-content .section-list li p {
  color: #fff;
}

/* Call Me Form */

.form {
  display: flex;
  flex-direction: column;
}
.form input,
.form select {
  font-family: "Open Sans", sans-serif;
  padding: 12px 2px 12px 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

.call-me-form input,
.call-me-form select {
  background-color: #2a5d77;
  color: #fff;
  border: 1px solid #39728f;
}

.call-me-form select {
  font-family: "Open Sans", sans-serif;
}

.form input[type="checkbox"] {
  margin-bottom: 0;
}

.call-me-form input::placeholder {
  color: #fff;
}

.check-box {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57142857143;
  margin-bottom: 20px;
}

.check-box a {
  color: #fff;
  text-decoration: underline;
}

.form-btn {
  width: 100%;
  height: 44px;
  padding: 1px 6px;
  font-size: 12px;
  font-weight: 700;
  line-height: 2.33333333333;
}

/* Projects */
.projects {
  padding: 104px 15px 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects .section-tag,
.projects .section-title {
  text-align: center;
}

.projects .section-title {
  margin-bottom: 52px;
}

.projects .btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 15px;
}

.btn-filter {
  display: inline-block;
  background-color: #f1f4f7;
  color: #7b7e85;
  padding: 5px 22px;
  border: none;
  border-radius: 4px;
  margin: 0 3px 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.66666666667;
  text-align: center;
  transition: all 0.7s ease;
}

.btn-filter:hover,
.btn-filter.active {
  background-color: var(--primary);
  color: #fff;
}

.project-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project {
  position: relative;
  width: 100%;
  height: 300px;
}

.project-image {
  width: 100%;
  height: 300px;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.project-text {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.project-text-title {
  color: #fff;
  margin-bottom: 30px;
}

.project:hover .project-text {
  opacity: 1;
}

.btn-project {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  margin: 3px 0;
  font-weight: 700;
  transition: all 0.7s ease;
}

.btn-project:hover,
.btn-project.active {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

/* Modal */
.modal-container {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  z-index: 10;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal-content {
  background: #fff;
  width: 350px;
  max-width: 100%;
  padding: 30px 15px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 8px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  align-items: center;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.modal-close i {
  color: #333;
  font-size: 20px;
}

.modal-img {
  width: 315px;
  height: 305px;
  margin-bottom: 32px;
}

.modal-img img {
  height: 100%;
  width: auto;
  border-radius: 8px;
}

.modal-desc h2 {
  margin-bottom: 8px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2727272727;
}

.modal-desc .line-heading {
  background-color: var(--primary);
  width: 48px;
  height: 1px;
  margin-bottom: 10px;
  border: none;
}

.modal-desc h3 {
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 32px;
}

.modal-desc blockquote {
  margin: 28px 0 34px;
  padding: 18px 24px;
}

.modal-desc .testimonial {
  margin-bottom: 8px;
}

.modal-desc .testimonial-author {
  color: var(--text);
}

.modal-btn {
  padding: 12px 30px;
  margin-right: 6px;
  margin-bottom: 16px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.modal-btn.dark {
  background-color: #fff;
  color: var(--heading);
  border: 2px solid var(--heading);
}

.modal-btn.dark:hover {
  background-color: var(--heading);
  color: #fff;
}

.not-scroll {
  overflow: hidden;
}

/* Our Team */
.our-team {
  padding: 102px 15px 54px;
}

.team-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-container .section-title {
  margin-bottom: 12px;
  text-align: center;
}

.team-container .section-desc {
  margin-bottom: 56px;
  text-align: center;
}

.team-card-container {
  display: flex;
  flex-direction: column;
}

.team-card-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-card {
  margin-bottom: 56px;
}

.team-card img {
  width: 208px;
  height: 180px;
  margin-bottom: 24px;
}

.team-card h5 {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.44444444444;
  margin-bottom: 4px;
}

.team-card p {
  color: var(--heading);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: 12px;
}
.team-card .social-container {
  display: flex;
  justify-content: center;
}

.social {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 2px;
  position: relative;
}

.social .hexagon {
  background-size: 28px 28px;
}

.social:hover .hexagon {
  background-image: url("/images/hexagon-white.svg");
}

.social i {
  color: #fff;
  font-size: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social:hover i {
  color: var(--primary);
}

/* About */
.about {
  padding: 110px 15px 84px;
}

.about-img-container {
  margin-bottom: 48px;
}

.about-img-container img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.about-content-container .section-list {
  margin-bottom: 24px;
}

.about-number-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.about-number {
  width: 152px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
}

.about-number dd {
  color: var(--primary);
  font-family: "Montserrat", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.13043478261;
}

.about-number dt {
  color: var(--text);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857142857;
  margin-left: 8px;
}

/* Contact */
.contact {
  background-color: var(--bg-light);
  padding: 106px 15px 90px;
}

.contact-content {
  margin-bottom: 48px;
}

.contact-content address {
  margin-bottom: 36px;
  font-style: normal;
}

.address-item {
  color: var(--text);
}

.address-item a {
  color: var(--text);
  text-decoration: underline;
}

.address-item i {
  color: var(--primary);
  font-size: 14px;
  margin-right: 8px;
}

.contact-content h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.2727272727;
  margin-bottom: 16px;
}

.social-container {
  display: flex;
  flex-wrap: wrap;
}

.contact-content .social {
  width: 52px;
  height: 52px;
  margin: 0 4px 12px 2px;
}
.contact-content .social .hexagon {
  background-size: 52px 52px;
}

.contact-content .social i {
  font-size: 24px;
}

.contact-form input,
.contact-form textarea {
  background-color: #fff;
  color: var(--text);
  border: 1px solid #dadada;
}

.contact-form textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57142857143;
  width: 100%;
  height: 104px;
  padding: 20px 2px 1px 21px;
  margin-bottom: 20px;
}

.contact-form textarea:focus {
  outline: none;
}

.contact-form .check-box,
.contact-form .check-box a {
  color: var(--text);
}

/* Footer */
.page-footer {
  background-color: var(--bg-navy);
  color: #fff;
  padding-top: 80px;
}

.footer-content {
  margin-bottom: 36px;
}

.footer-content .footer-title {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 12px;
}

.footer-content p {
  color: #fff;
  font-size: 14px;
  line-height: 1.57142857143;
}

.footer-list-group {
  margin-bottom: 36px;
}

.footer-list-group h4 {
  color: #fff;
  font-size: 20px;
  line-height: 1.3;
  margin-bottom: 12px;
}

.footer-list {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.57142857143;
}

.footer-list li {
  margin-bottom: 6px;
}
.footer-list li a {
  color: #dfe5ec;
  text-decoration: underline;
}

.footer-copyright {
  padding: 16px 0 8px;
  border-top: 1px solid #dfe5ec;
  text-align: center;
}

.footer-copyright p {
  color: #dfe5ec;
  font-size: 14px;
  line-height: 1.57142857143;
  margin-bottom: 0;
}

@media screen and (min-width: 576px) {
  /* Intro */
  .intro-main,
  .intro-details,
  .about-container,
  .contact-container,
  .footer-container {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  /* Header */
  .page-header {
    padding: 6px 80px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  .page-header.colored {
    background-color: var(--bg-navy);
  }

  .toggle-menu-btn {
    display: none;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-list {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .nav-menu-list li a {
    padding: 4px 12px;
  }

  /* Landing */
  .landing {
    height: 100vh;
    width: 100%;
  }

  .landing-content {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-title {
    flex-direction: row;
    font-size: 56px;
    line-height: 1.14285714286;
  }

  .landing-title-fixed {
    margin-right: 5px;
  }

  .landing-title-rotate {
    width: 365px;
    max-width: 100%;
  }

  .landing-desc {
    width: 100%;
    max-width: 665px;
    margin-bottom: 32px;
  }

  /* Intro */

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-main {
    /* width: 100%; */
    max-width: 720px;
    padding-top: 110px;
  }

  .text-container {
    padding: 0 15px;
    margin-bottom: 48px;
  }

  .intro-main .img-container {
    padding: 0 15px;
  }

  .intro-main .img-container img {
    max-width: 690px;
  }

  .intro-details {
    /* width: 100%; */
    max-width: 720px;
    padding: 48px 15px 46px 15px;
  }

  .detail-body h3,
  .detail-body p {
    text-align: center;
  }

  /* Services-detail*/
  .acco-list {
    max-width: 70%;
    margin: 0 auto;
  }

  /* Services-tab */
  .tab.area-2 {
    max-width: 70%;
    padding-top: 100px;
  }

  /* tab-2 */
  #tab-2 {
    flex-direction: row;
  }

  .content-list {
    width: 45%;
    margin-top: 0;
  }

  .content-list:first-child {
    margin-right: 32px;
  }

  /* Slider List */
  .slider-list {
    justify-content: flex-start;
  }

  /* Slider Item*/

  .slider-item {
    width: 50%;
    height: 250px;
    justify-content: flex-start;
    animation: moveLeft 1s;
  }

  .slider-item:nth-child(1) {
    z-index: 1;
    left: 0;
    transform: translateX(-100%);
    opacity: 0;
  }

  .slider-item:nth-child(2) {
    z-index: 2;
    left: 0;
    transform: translateX(0);
    opacity: 1;
  }

  .slider-item:nth-child(3) {
    z-index: 2;
    left: 50%;
    transform: translateX(0);
    opacity: 1;
    display: flex;
  }

  .slider-item:nth-child(n + 4) {
    z-index: 1;
    left: 100%;
    opacity: 0;
    display: none;
  }

  @keyframes moveLeft {
    from {
      left: 50%;
    }
    to {
      left: 0;
    }
  }

  .slider-item blockquote {
    width: 260px;
  }

  /* Call Me */
  .call-me-container {
    max-width: 540px;
  }

  /* Modal */
  .modal-content {
    width: 600px;
    max-width: 100%;
    margin: 40px auto;
  }

  .modal-close {
    top: 7px;
    right: 10px;
  }

  .modal-img {
    width: 90%;
    height: 400px;
  }

  .modal-img img {
    width: 100%;
    height: 100%;
  }
  .modal-desc {
    width: 90%;
  }
  /* Our Team */
  .our-team .section-desc {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  .team-card-group {
    flex-direction: row;
  }

  .team-card {
    margin: 0 24px 56px;
  }

  /* About, Contact & Footer */
  .about-container,
  .contact-container,
  .footer-container {
    max-width: 720px;
  }

  .footer-container {
    display: flex;
  }
  .footer-list-container {
    display: flex;
  }
  .footer-list-group {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media screen and (min-width: 992px) {
  /* Intro */
  .intro-main {
    max-width: 960px;
    padding-top: 110px;
    flex-direction: row;
  }

  .text-container {
    max-width: 42%;
    margin-bottom: 0;
  }

  .intro .img-container {
    max-width: 58%;
  }

  .intro-main .img-container img {
    max-width: 530px;
  }

  .intro-details {
    flex-direction: row;
    align-items: flex-start;
    max-width: 960px;
  }

  .detail-card {
    max-width: 280px;
    align-items: flex-start;
    vertical-align: top;
  }

  .detail-card:nth-child(2) {
    margin: 0 40px 40px;
  }
  .detail-body h3,
  .detail-body p {
    text-align: left;
  }

  /* Services */
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    flex-direction: row;
  }

  .services-main {
    width: 100%;
    max-width: 1110px;
  }

  .card-container .card:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Services-detail */
  .services-detail {
    width: 100%;
  }
  .services-accordion {
    flex-direction: row;
  }
  .area-1,
  .area-2 {
    width: 50%;
    height: 555px;
  }

  .area-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .acco-list {
    padding: 0 30px;
    max-width: 510px;
  }

  .title-text {
    width: 100%;
  }

  /* Services-tab */
  .services-tab {
    flex-direction: row-reverse;
  }

  .tab-content-container {
    padding: 0 40px;
  }

  /* Slider Button */

  .slider-btn.prev {
    left: -30px;
  }

  .slider-btn.next {
    right: -30px;
  }

  /* Slider List */
  .slider-list {
    justify-content: space-between;
  }
  /* Slider Item */

  .slider-item {
    width: 265px;
  }

  .slider-item:nth-child(4) {
    z-index: 2;
    left: 100%;
    opacity: 1;
    display: flex;
  }

  .slider-item:nth-child(n + 5) {
    z-index: 1;
    left: 100%;
    opacity: 0;
  }

  /* Call Me */
  .call-me {
    padding-top: 112px;
  }
  .call-me-container {
    max-width: 960px;
    display: flex;
  }

  .call-me-content,
  .call-me-form {
    padding: 0 15px;
    margin: 0 15px;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .call-me-content {
    margin-bottom: 0;
  }

  /* Modal */
  .modal-content {
    top: 50%;
    width: 1000px;
    flex-direction: row;
    align-items: flex-start;
  }

  .modal-img {
    margin: 20px 10px 0;
  }

  .modal-img img {
    width: 100%;
    height: 100%;
  }

  .modal-desc {
    margin: 20px 20px 0;
    padding: 0 50px;
  }
  .modal-desc blockquote {
    padding: 18px 30px;
    margin: 10px 0 20px;
  }

  .modal-desc .testimonial-author {
    display: block;
    text-align: right;
  }
  .modal-btn-container {
    text-align: right;
  }

  .modal-btn {
    margin-bottom: 0;
  }

  .modal-btn:last-child {
    margin-right: 0;
  }

  /* Our Team */

  .team-container {
    max-width: 960px;
    margin: 0 auto;
  }

  .team-card-container {
    max-width: 100%;
    flex-direction: row;
  }

  .team-container .section-desc {
    width: 65%;
  }
  .team-card {
    width: 205px;
    max-width: 100%;
    margin: 0 12px 56px;
  }

  /* About */
  .about-container {
    max-width: 960px;
    display: flex;
  }

  .about-img-container {
    width: 400px;
    max-width: 42%;
    padding: 0 15px;
  }

  .about-content-container {
    max-width: 58%;
    padding: 0 15px;
  }

  .about-number-list {
    justify-content: flex-start;
  }

  /* Contact */
  .contact-container {
    display: flex;
    max-width: 960px;
  }
  .contact-content,
  .contact-form {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    margin: 0;
  }

  .contact-form {
    padding-top: 25px;
  }
}

@media screen and (min-width: 1100px) {
  .project-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .project {
    width: 270px;
    height: 270px;
  }

  .project-image {
    width: 270px;
    height: 270px;
  }

  .project-image img {
    width: 100%;
    height: 100%;
  }
}
