:root {
  --primary: #14bf98;
  --bg-navy: #113448;
  --bg-navy-light: #153e52;
  --bg-input: #2a5d77;
  --bg-light: #fbfbfb;
  --bg-progress: #f9fafc;
  --heading: #484a46;
  --text: #787976;
  --text-light: #c1cace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  color: var(--heading);
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: var(--text);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5625;
  margin-bottom: 16px;
}

input,
button {
  border: none;
  font-family: "Montserrat", sans-serif;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

.btn {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  background-color: var(--primary);
  color: #fff;
  border: 0.125rem solid #14bf98;
  border-radius: 0.25rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: transparent;
  color: var(--primary);
}

.px {
  padding: 0 15px;
}

.section-tag {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.38461538462;
  color: var(--primary);
  margin-bottom: 8px;
}

.section-title {
  color: var(--heading);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21428571429;
  margin-bottom: 22px;
}

.testimonial {
  font-style: italic;
}

.testimonial-author {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.375;
  font-style: normal;
}

/* Header */

.page-header {
  width: 100%;
  padding: 6px 16px;
  background-color: var(--bg-navy);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Toggle menu btn */

.toggle-menu-btn {
  position: absolute;
  right: 16px;
  top: 15px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.toggle-menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: #fff;
  transition: all 0.5s ease-out;
}

.toggle-menu-btn.close {
  transform: rotate(180deg);
}

.toggle-menu-btn.close .btn-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.toggle-menu-btn.close .btn-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container img {
  width: 113px;
  height: 32px;
}

.nav-menu-list {
  margin: 12px 0;
  display: none;
  flex-direction: column;
}

.nav-menu-list li a {
  display: block;
  padding: 10px 12px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 0.875rem;
}

.nav-menu-list li a:hover,
.nav-menu-list li a.current {
  color: var(--primary);
}

.nav-menu-list.show {
  display: flex;
}

/* Landing */
.landing {
  width: 100vw;
  height: 80vh;
  background-image: url("/images/header-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  color: #fff;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.landing * {
  z-index: 1;
}

.landing-title {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 12px;
}

.landing-title-rotate {
  height: 50px;
  position: relative;
}

.word {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.letter {
  display: inline-block;
  /* transform: translateZ(25px); */
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.landing-desc {
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.44444444444;
  margin-bottom: 25px;
}

.btn-landing {
  padding: 15px 34px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

/* Intro */
.intro {
  overflow: hidden;
  width: 100vw;
}

.intro-main {
  padding-top: 104px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.text-container {
  margin-bottom: 48px;
}

.intro .img-container {
  width: 100%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.intro .img-container img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.intro .img-container img:hover {
  transform: scale(1.2);
}

.intro-details {
  padding-top: 48px;
  padding-bottom: 46px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.detail-icon {
  width: 96px;
  height: 96px;
  margin-bottom: 16px;
  position: relative;
}

.hexagon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/hexagon-green.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 96px 96px;
}

.detail-icon i {
  color: #fff;
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detail-body h3 {
  color: var(--heading);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 10px;
}

.detail-body p {
  text-align: center;
}

/* Services */

.services {
  background-color: var(--bg-light);
  width: 100%;
}

.services-main {
  padding: 106px 15px 20px;
}

.services-main .section-tag,
.services-main .section-title {
  text-align: center;
}

.services-main .section-title {
  margin-bottom: 52px;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin-bottom: 90px;
}

.card img {
  display: block;
  width: 100%;
  max-width: 698px;
  height: auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-body {
  width: 100%;
  max-width: 698px;
  background-color: #fff;
  padding: 36px 32px 34px;
  border: 1px solid #ebe8e8;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.card-body h3 {
  color: var(--heading);
  font-size: 22px;
  font-weight: 700;
  line-height: 1.27272727273;
  text-align: center;
  margin-bottom: 12px;
}
.card-body-list {
  margin-bottom: 24px;
}

.card-body-list li {
  color: var(--text);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5625;
  margin-bottom: 6px;
}
.card-body-list i {
  color: var(--primary);
}

.card-body-list .list-text {
  display: inline-block;
  margin-left: 10px;
}

.card-body strong {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: var(--heading);
}

.price {
  color: var(--primary);
}

.card-btn-container {
  margin-top: -22px;
  text-align: center;
}
.card-btn {
  font-size: 12px;
  font-weight: 700;
  display: inline-block;
  padding: 12px 30px;
}

/* Services-detail */
.services-accordion {
  display: flex;
  flex-direction: column;
}

.area-1 {
  width: 100%;
  height: 432px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.acco.area-1 {
  background-image: url("/images/details-1-background.jpg");
}

.tab.area-1 {
  background-image: url("/images/details-2-background.jpg");
}

.area-2 {
  max-width: 90%;
  margin: 0 auto;
}

.acco-list {
  padding: 102px 0 24px;
}

.acco-list h2 {
  color: var(--heading);
  font-size: 28px;
  font-weight: 700;
  line-height: 1.21428571429;
  margin-bottom: 26px;
}

.acco-item {
  margin-bottom: 32px;
}

.acco-title {
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
}

.title-numbering {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 2px solid var(--heading);
  border-radius: 50%;
  margin-right: 14px;
  vertical-align: middle;
}

.acco-title:hover .title-numbering,
.acco-title:hover .title-text,
.acco-title.active .title-text {
  border-color: var(--primary);
  color: var(--primary);
}

.acco-title.active .title-numbering {
  background-color: var(--primary);
  border-color: var(--primary);
  color: #fff;
}

.title-text {
  color: var(--heading);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.4;
  width: 70%;
}

.acco-desc {
  display: none;
  opacity: 0;
  margin-bottom: 0;
  margin-left: 50px;
  transition: all 0.6s cubic-bezier(0.42, 0.2, 0.08, 1);
}

.acco-desc.show {
  display: block;
  opacity: 1;
  height: 100%;
}

/* Services-tab */
.services-tab {
  display: flex;
  flex-direction: column-reverse;
}

.tab.area-2 {
  padding: 32px 0 92px;
}

.tab-title-container {
  margin-bottom: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tab-title {
  cursor: pointer;
  margin-right: 26px;
  margin-bottom: 14px;
  transition: all 0.2s ease;
}

.tab-title h3 {
  color: var(--text-light);
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.tab-title:hover,
.tab-title.active {
  color: var(--primary);
}

.tab-title i {
  font-size: 14px;
  vertical-align: 21%;
  margin-right: 2px;
}

/* tab-1 */
.tab-content h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 8px;
}

.tab-content p a {
  text-decoration: underline;
  color: var(--primary);
}

.progress-container {
  margin-top: 24px;
}

.progress-container h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.42857142857;
  margin-bottom: 4px;
}

.progress {
  width: 100%;
  height: 22px;
  background-color: var(--bg-progress);
  border-radius: 2px;
  margin-bottom: 18px;
}

.progress-bar {
  height: 100%;
  background-color: var(--primary);
  border-radius: 2px;
}

.progress-bar.first {
  width: 100%;
}

.progress-bar.second {
  width: 76%;
}

.progress-bar.third {
  width: 90%;
}

/* tab-2 */
#tab-1 {
  display: none;
}

#tab-2 {
  display: flex;
  flex-direction: column;
}

.content-list {
  margin-top: 28px;
}

.content-item {
  display: flex;
  margin-bottom: 32px;
}

.content-item:last-child {
  margin-bottom: 0;
}

.item-numbering {
  color: var(--primary);
  font-size: 32px;
  font-weight: 600;
  line-height: 1;
}

.item-text {
  margin-left: 14px;
  margin-bottom: 0;
}

.item-text strong {
  color: var(--heading);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5625;
}

@media screen and (min-width: 768px) {
  /* Header */
  .page-header {
    padding: 6px 80px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  .page-header.colored {
    background-color: var(--bg-navy);
  }

  .toggle-menu-btn {
    display: none;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu-list {
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .nav-menu-list li a {
    padding: 4px 12px;
  }

  /* Landing */
  .landing {
    height: 100vh;
    width: 100%;
  }

  .landing-content {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .landing-title {
    flex-direction: row;
    font-size: 56px;
    line-height: 1.14285714286;
  }

  .landing-title-fixed {
    margin-right: 5px;
  }

  .landing-title-rotate {
    width: 365px;
    max-width: 100%;
  }

  .landing-desc {
    width: 100%;
    max-width: 665px;
    margin-bottom: 32px;
  }

  /* Intro */

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .intro-main {
    width: 100%;
    max-width: 1110px;
    padding-top: 110px;
    flex-direction: row;
  }

  .text-container {
    padding: 0 15px;
    margin-bottom: 0;
  }

  .img-container {
    max-width: 635px;
    padding: 0 15px;
  }

  .intro-details {
    width: 100%;
    max-width: 1110px;
    padding: 48px 15px 46px 15px;
    flex-direction: row;
  }

  .detail-card {
    align-items: flex-start;
  }

  .detail-card:nth-child(2) {
    margin-right: 40px;
    margin-left: 40px;
  }

  .detail-body h3,
  .detail-body p {
    text-align: left;
  }

  /* Services-detail*/
  .acco-list {
    max-width: 70%;
    margin: 0 auto;
  }

  /* Services-tab */
  .tab.area-2 {
    max-width: 70%;
  }

  /* tab-2 */
  #tab-2 {
    flex-direction: row;
  }

  .content-list {
    width: 45%;
    margin-top: 0;
  }

  .content-list:first-child {
    margin-right: 32px;
  }
}

@media screen and (min-width: 992px) {
  /* Services */
  .services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-container {
    flex-direction: row;
  }

  .services-main {
    width: 100%;
    max-width: 1110px;
  }

  .card-container .card:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Services-detail */
  .services-detail {
    width: 100%;
  }
  .services-accordion {
    flex-direction: row;
  }
  .area-1,
  .area-2 {
    width: 50%;
    height: 555px;
  }

  .area-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .acco-list {
    padding: 0 30px;
    max-width: 510px;
  }

  .title-text {
    width: 100%;
  }

  /* Services-tab */
  .services-tab {
    flex-direction: row-reverse;
  }

  .tab-content-container {
    padding: 0 40px;
  }
}
